/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


/* anosha's reset code */
/* CSS RESET--------------------------------------------------------- */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* END OF RESET ----------------------------------------------------- */


/* CUSTOM PROPERTIES ------------------------------------------------ */

:root {
  --primary-white: white;
  --primary-dark-white: hsl(240, 14%, 90%);
  --primary-red: hsl(0, 100%, 74%);
  --primary-green: hsl(154, 59%, 51%);
  --accent: hsl(248, 32%, 49%);
  --neutral-dark-blue: hsl(249, 10%, 26%);
  --neutral-grayish-Blue: hsl(246, 25%, 77%);
  --fw-light: 400;
  --fw-normal: 500;
  --fw-bold: 600;
  --fw-bolder: 700;
}


body {
  font-size: 1rem;
  padding: 4.5rem 1.5rem;
  background-color: var(--primary-red);
  font-family: poppins, sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 350px;
  color: var(--primary-white);
  text-align: center;
}

.intro-area {
  margin: 1rem 0;
}

.primary-heading {
  font-size: 1.8rem;
  font-weight: var(--fw-bolder);
}

.text {
  margin-top: 1rem;
  margin-bottom: 2rem;
  line-height: 2;
  color: var(--primary-white);
}

.login-area {
  margin: 1rem 0;
}

.btn {
  width: 100%;
  border: 1px solid black;
  border-radius: 0.5rem;
  padding: 1rem 0;
}

#login-form {
  width: 100%;
  margin: 1.5rem 0;
  padding: 1rem 1.2rem;
  background-color: var(--primary-white);
  border-radius: 12px;
}

.form__input {
  width: 100%;
  padding: 1rem 1rem;
  border: 1px solid var(--neutral-grayish-Blue);
  border-radius: 0.5rem;
  margin: 0.5rem 0;

}

.subtext {
  padding: 0 1rem;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 0.8rem;
  color: var(--neutral-grayish-Blue);
}

.subtext a {
  color: var(--primary-red);
  text-decoration: none;
  font-weight: var(--fw-bold);
}

.btn--featured {
  padding: 1rem 4rem;
  background-color: var(--accent);
  border: none;
}

.btn--featured span {
  color: var(--neutral-grayish-Blue);
  font-weight: var(--fw-light);
}

.btn--submit {
  border: none;
  text-transform: uppercase;
  color: var(--primary-white);
  background-color: var(--primary-green);
  letter-spacing: 0.2ch;
  padding: 1rem 1rem;
  margin: 0.5rem 0;
}

/* MEDIA QUERIES ---------------------------------------------------- */

@media (min-width: 768px) {
  body {
    padding-inline: 4rem;
  }

  .panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: none;
  }

  .intro-area {
    text-align: left;
    margin: 0 1rem;
    max-width: 500px;
  }

  .text {
    font-size: 0.8125rem;
  }

  .login-area {
    margin: 0 1rem;
    max-width: 500px;
  }

  #login-form{
    margin-top: 1rem;
    padding: 1.5rem 2rem;

  }

  .form__input {
    width: 100%;
    padding: 0.8rem 1rem;
    margin: 0.5rem 0;

  }

  .subtext {
    font-size: 0.7rem;
  }

  .btn--featured {
    padding: 0.8rem 4rem;
  }

}